* {
  margin : 0;
  padding: 0;
}

.app {
  background-color: #000000c9;
  background-repeat: no-repeat;
  width           : 80%;
  min-height      : 80vh;
  margin          : 0 auto;
  margin-top      : 5%;
  padding         : 40px 60px;
  border-radius   : 16px;
}

h1 {
  text-align: center;
  font-size : 4.5rem;
  font-family: 'Rubik Bubbles', sans-serif;
}

h2 {
  font-size    : 2.5rem;
  margin-bottom: 10px;
  color        : rgb(55, 255, 215);
  line-height: normal;
}

p {
  margin: 15px 0px;
}

ul {
  list-style: none;
}

li {
  display         : flex;
  justify-content : space-evenly;
  border          : 2px solid rgb(55, 255, 215);
  width           : 80%;
  margin          : 40px auto;
  background-color: #326cffe7;
  border-radius   : 1rem;
  padding         : 20px 0;
}

.movie-details {
  width: 40%;
}